@import "tailwindcss";

@theme {
  /* Al usar --color-*, Tailwind crea automáticamente la clase text-primary y bg-primary */
  --color-primary: var(--primary-user);
  --color-secondary: var(--secondary-user);
}

:root {
  --primary-user: #10b981; 
  --secondary-user: #34d399;
}